a[b-3g6upsd846] {
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    max-width: 100rem;
    margin: 3rem;
    margin-bottom: 0;
    justify-content: center;
}

a[b-3g6upsd846] {
    text-decoration: none;
    color: black;
}

a:hover[b-3g6upsd846] {
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3);

}

a:active[b-3g6upsd846] {
    border-color: rgba(0,0,0,0.3);
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    border-style: solid;
    border-width: 0.2rem;
}

div[b-3g6upsd846] {
    float: inline-end;
}

h2[b-3g6upsd846] {
    text-align: center;
    padding: 1.5rem;
    display: block;
    margin: 0;
}

img[b-3g6upsd846] {
    float: inline-start;
    padding: 1.5rem;
}

p[b-3g6upsd846] {
    display: block;
    max-width: 30rem;
    margin: 0;
    padding: 1.5rem;
}