a[b-wkpq1nhfyf] {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 3rem 0;
}

article[b-wkpq1nhfyf] {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    border-radius: 1.5rem;
    max-width: 50rem;
    margin: 3rem;
    margin-bottom: 0;
    overflow: hidden;
}

h2[b-wkpq1nhfyf] {
    text-align: center;
    margin-top: 0;
}

img[b-wkpq1nhfyf] {
    width: 100%;
    height: auto;
}

p[b-wkpq1nhfyf] {
    max-width: 30rem;
    margin: 1rem;
}