@namespace MainElements

<a id=@Id href=@Href >
    
        <img src="img/techs/@Image" height="150rem" >
        <div>
            <h2> @Title </h2>
            <p> @Description </p>
        </div>
    
</a>

@code {
    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public string? Href { get; set; }
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Description { get; set; }
}