article {
    background-color: white;
    border-radius: 1.5rem;
    padding: 3rem;
    max-width: 100rem;
    margin: 3rem;
    margin-bottom: 0;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

div {
    float: right;
}

h2 {
    margin: 0.2rem;
    display: block;
}

img {
    margin: 0.7rem;
    float: inline-start;
}

p {
    display: block;
    max-width: 30rem;
}

span {
    margin: 0 auto;
}