article {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-self: stretch;
    background-color: white;
    padding: 3rem;
    margin-bottom: 0;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

div {
    float: inline-end;
}

h2 {
    text-align: center;
    margin: 0.2rem;
    display: block;
}

img {
    margin: 0.7rem;
    float: inline-start;
}

p {
    display: block;
    max-width: 30rem;
    text-align: center;
}

span {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}