@inherits LayoutComponentBase
@using MainElements
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<PageTitle>Diego Villaseñor</PageTitle>

<body>
    <TopBar Title="Diego Villaseñor" ></TopBar>

    <main>    

        @Body

    </main>

    <footer>
            <a href="#title" >Go to top</a>
            <a id="mailme" href="mailto:learsi_to@live.com.mx">Mail me</a>
    </footer>
</body>